<app-navbar></app-navbar>
<div class="text-center intro">

    <div class="intro">
        <h2 class="display-5">Steam Stats</h2>
        <p>Get your stats from Steam! Just input your Steam community ID.</p>
    </div>
</div>

<div class="text-center input">
    <div *ngIf="!appComponent.isLoading && appComponent.done">
        <app-out></app-out>
    </div>
    <div *ngIf="!appComponent.isLoading && !appComponent.done">
        <app-input></app-input>
        <!-- here is where the loading icons will be -->
        <!-- aka the points of my app that will load on scroll -->
        <div class="points mt-4">
            <p>point 1 </p>
            <p>point 2 </p>
        </div>
    </div>

    <div *ngIf="appComponent.isLoading && !appComponent.done" class="spinner-border text-warning" role="status">
        <span class="sr-only"></span>
    </div>



</div>

<div class="text-center botnav">
    <footer>
        <p>Website made by teeny. Support me :) </p>
    </footer>

</div>