.intro{
    background-color: #001020;
    color: whitesmoke;
    height: 8em;
}

.input{
    background-color: #003566;
    min-height: 80em;
    max-height:fit-content;
    padding-top: 5em;
    padding-bottom: 5em;
    
    
}

.botnav{
    background-color:  #000814;
    color: whitesmoke;
    width:100%;
    height:3em;
}

.points{
    color: whitesmoke;
    padding-top: 5em;
}