<app-navbar></app-navbar>
<div class="text-center intro">

    <div class="intro">
        <h2 class="display-5">Recently Played Steam Graph</h2>
        <p>Visualize your past 2 weeks of playtime in steam games! Just input your steam community ID.</p>
    </div>
</div>

<div class="text-center input">
    <app-input></app-input>
    <!-- here is where the loading icons will be -->
    <!-- aka the points of my app that will load on scroll -->
    <div class="points">
        <p>point 1 </p>
    </div>
</div>

<div class="text-center botnav">
    <footer>
        <p>Website made by teeny. Support me :) </p>
    </footer>
    
</div>



